{
    "TARGET_SSIDS": ["APPLE", "ORANGE"],
    "SIMULATION_TARGET_SSIDS": ["APPLE", "ORANGE"],
    "NTFY_TOPIC": "elmstreet_power",
    "SIMULATION_NTFY_TOPIC": "elmstreet_power",
    "SCAN_INTERVAL": 15,
    "OFFLINE_THRESHOLD": 300,
    "SIMULATION_SCAN_INTERVAL": 1,
    "SIMULATION_OFFLINE_THRESHOLD": 2
}